Business Understanding

Business Objective

Industri film terus berkembang dengan persaingan yang ketat antara berbagai studio produksi. Setiap film yang dirilis diharapkan dapat meraih keuntungan besar, namun kesuksesan finansial sebuah film tidak selalu bergantung pada anggaran produksinya. Oleh karena itu, tujuan utama dari analisis ini adalah untuk memahami faktor-faktor yang mempengaruhi keberhasilan film, terutama dalam kaitannya dengan pendapatan global. Dengan analisis ini, diharapkan rumah produksi dapat mengambil keputusan yang lebih tepat dalam mengalokasikan anggaran dan strategi pemasaran.

Assess Situation

Dalam industri perfilman, berbagai faktor seperti anggaran produksi, rating IMDb, Metascore, serta strategi pemasaran dapat mempengaruhi pendapatan sebuah film. Namun, tidak semua faktor ini memiliki dampak yang sama terhadap keberhasilan film. Oleh karena itu, perlu dilakukan analisis untuk mengidentifikasi faktor mana yang memiliki korelasi tinggi terhadap kesuksesan film. Dataset yang digunakan dalam studi ini mencakup informasi tentang judul film, perusahaan produksi, rating, anggaran produksi, dan pendapatan domestik maupun global, yang dapat memberikan wawasan tentang tren industri film.

Data Mining Goals

Tujuan utama dari analisis data ini adalah untuk menemukan pola dan hubungan antara berbagai faktor yang ada dalam dataset. Analisis ini akan mencakup eksplorasi data untuk memahami distribusi dan karakteristik dataset, serta penerapan metode statistik dan visualisasi untuk mengidentifikasi korelasi antara anggaran produksi, rating, dan pendapatan film. Dengan demikian, hasil analisis ini dapat digunakan untuk memberikan rekomendasi kepada rumah produksi mengenai strategi investasi yang lebih efektif.

Project Plan

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/db.csv', encoding='latin-1')
print(df)

    Unnamed: 0                       Original Title Company  Rate  Metascore  \
0            1                             Iron Man  Marvel   7.9         79
1            2                  The Incredible Hulk  Marvel   6.7         61
2            3                           Iron Man 2  Marvel   7.0         57
3            4                                 Thor  Marvel   7.0         57
4            5   Captain America: The First Avenger  Marvel   6.9         66
5            6                         The Avengers  Marvel   8.0         69
6            7                       Iron Man Three  Marvel   7.2         62
7            8                 Thor: The Dark World  Marvel   6.9         54
8            9  Captain America: The Winter Soldier  Marvel   7.7         70
9           10              Guardians of the Galaxy  Marvel   8.0         76
10          11             Avengers: Age of Ultron   Marvel   7.3         66
11          12                              Ant-Man  Marvel   7.3         64
12          13           Captain America: Civil War  Marvel   7.8         75
13          14                       Doctor Strange  Marvel   7.5         72
14          15       Guardians of the Galaxy Vol. 2  Marvel   7.6         67
15          16               Spider-Man: Homecoming  Marvel   7.4         73
16          17                        Thor:Ragnarok  Marvel   7.9         74
17          18                        Black Panther  Marvel   7.3         88
18          19               Avengers: Infinity War  Marvel   8.5         68
19          20                 Ant-Man and the Wasp  Marvel   7.1         70
20          21                        Captain Marve  Marvel   6.9         64
21          22                    Avengers: Endgame  Marvel   8.5         78
22          23            Spider-Man: Far from Home  Marvel   7.6         69
23          24                             Catwoman      DC   3.3         27
24          25                        Batman Begins      DC   8.2         70
25          26                     Superman Returns      DC   6.0         72
26          27                      The Dark Knight      DC   9.0         84
27          28                             Watchmen      DC   7.6         56
28          29                           Jonah Hex       DC   4.7         33
29          30                        Green Lantern      DC   5.5         39
30          31                The Dark Knight Rises      DC   8.4         78
31          32                         Man of Steel      DC   7.1         55
32          33   Batman v Superman: Dawn of Justice      DC   6.5         44
33          34                       Suicide Squad       DC   6.0         40
34          35                         Wonder Woman      DC   7.4         76
35          36                       Justice League      DC   6.4         45
36          37                              Aquaman      DC   7.0         55
37          38                              Shazam!      DC   7.1         71
38          39                                Joker      DC   8.7         59

   Minutes  Release      Budget  Opening Weekend USA  Gross USA  \
0      126     2008   140000000             98618668  318604126
1     112      2008   150000000             55414050  134806913
2     124      2010   200000000            128122480  312433331
3      115     2011  150000000              65723338  181030624
4      124     2011   140000000             65058524  176654505
5      143     2012   220000000            207438708  623357910
6      130     2013  200000000             174144585  409013994
7      112     2013   170000000             85737841  206362140
8      136     2014   170000000             95023721  259766572
9      121     2014   170000000             94320883  333176600
10     141     2015   250000000            191271109  459005868
11     117     2015   130000000             57225526  180202163
12     147     2016   250000000            179139142  408084349
13     115     2016   165000000             85058311  232641920
14     136     2017   200000000            146510104  389813101
15     133     2017  175000000             117027503  334201140
16     130     2017   180000000            122744989  315058289
17     134     2018   200000000            202003951  700059566
18     149     2018  321000000             257698183  678815482
19     118     2018   162000000             75812205  216648740
20     123     2019  175000000             153433423  426829839
21     181     2019   356000000            357115007  858373000
22     129     2019   160000000             92579212  390532085
23     104     2004   100000000             16728411   40202379
24     140     2005   150000000             48745440  206852432
25     154     2006   270000000             52535096  200081192
26     152     2008   185000000            158411483  535234033
27     162     2009   130000000             55214334  107509799
28      81     2010   47000000               5379365   10547117
29     114     2011   200000000             53174303  116601172
30     164     2012   250000000            160887295  448139099
31     143     2013   225000000            116619362  291045518
32     151     2016   250000000            166007347  330360194
33     123     2016   175000000            133682248  325100054
34     141     2017   149000000            103251471  412563408
35     120     2017   300000000             93842239  229024295
36     143     2018   160000000             67873522  335061807
37     132     2019   100000000             53505326  140371656
38     122     2019   55000000              96202337  333204580

    Gross Worldwide
0         585366247
1         263427551
2         623933331
3         449326618
4         370569774
5        1518812988
6        1214811252
7         644783140
8         714421503
9         772776600
10       1402805868
11        519311965
12       1153296293
13        677718395
14        863756051
15        880166924
16        853977126
17       1346913161
18       2048359754
19        622674139
20       1128274794
21       2797800564
22       1131927996
23         82102379
24        373413297
25        391081192
26       1004934033
27        185258983
28         10903312
29        219851172
30       1081041287
31        668045518
32        873634919
33        746846894
34        821847012
35        657924295
36       1148161807
37        364571656
38       1060504580

In [4]:
df.head()

,Unnamed: 0,Original Title,Company,Rate,Metascore,Minutes,Release,Budget,Opening Weekend USA,Gross USA,Gross Worldwide
0,1,Iron Man,Marvel,7.9,79,126,2008,140000000,98618668,318604126,585366247
1,2,The Incredible Hulk,Marvel,6.7,61,112,2008,150000000,55414050,134806913,263427551
2,3,Iron Man 2,Marvel,7.0,57,124,2010,200000000,128122480,312433331,623933331
3,4,Thor,Marvel,7.0,57,115,2011,150000000,65723338,181030624,449326618
4,5,Captain America: The First Avenger,Marvel,6.9,66,124,2011,140000000,65058524,176654505,370569774

Menghitung jumlah kemunculan nilai unik dalam kolom

In [5]:
df.info()
kolom_tertentu = "Company"
if kolom_tertentu in df.columns:
    print(f"\nMenghitung jumlah kemunculan nilai unik dalam kolom '{kolom_tertentu}':")
    print(df[kolom_tertentu].value_counts())
else:
    print(f"\nKolom '{kolom_tertentu}' tidak ditemukan dalam dataset.")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           39 non-null     int64
 1   Original Title       39 non-null     object
 2   Company              39 non-null     object
 3   Rate                 39 non-null     float64
 4   Metascore            39 non-null     int64
 5   Minutes              39 non-null     object
 6   Release              39 non-null     int64
 7   Budget               39 non-null     object
 8   Opening Weekend USA  39 non-null     int64
 9   Gross USA            39 non-null     int64
 10  Gross Worldwide      39 non-null     int64
dtypes: float64(1), int64(6), object(4)
memory usage: 3.5+ KB

Menghitung jumlah kemunculan nilai unik dalam kolom 'Company':
Company
Marvel    23
DC        16
Name: count, dtype: int64

Menghitung median dengan df.median

In [6]:
print("\nMenghitung median dengan df.median():")
print(df.median(numeric_only=True))

Menghitung median dengan df.median():
Unnamed: 0                    20.0
Rate                           7.3
Metascore                     67.0
Release                     2015.0
Opening Weekend USA     96202337.0
Gross USA              318604126.0
Gross Worldwide        746846894.0
dtype: float64

Menghitung rata-rata dengan df.mean

In [7]:
print("\nMenghitung rata-rata dengan df.mean():")
print(df.mean(numeric_only=True))

Menghitung rata-rata dengan df.mean():
Unnamed: 0             2.000000e+01
Rate                   7.202564e+00
Metascore              6.366667e+01
Release                2.013795e+03
Opening Weekend USA    1.151098e+08
Gross USA              3.232659e+08
Gross Worldwide        8.275727e+08
dtype: float64

Menghitung standar deviasi dengan df.std

In [8]:
print("\nMenghitung standar deviasi dengan df.std():")
print(df.std(numeric_only=True))

Menghitung standar deviasi dengan df.std():
Unnamed: 0             1.140175e+01
Rate                   1.074706e+00
Metascore              1.386084e+01
Release                4.286942e+00
Opening Weekend USA    6.866708e+07
Gross USA              1.807086e+08
Gross Worldwide        5.332318e+08
dtype: float64

Menghitung korelasi antar kolom numerik dengan df.corr

In [9]:
print("\nMenghitung korelasi antar kolom numerik dengan df.corr():")
print(df.corr(numeric_only=True))

Menghitung korelasi antar kolom numerik dengan df.corr():
                     Unnamed: 0      Rate  Metascore   Release  \
Unnamed: 0             1.000000 -0.143460  -0.281745  0.247660
Rate                  -0.143460  1.000000   0.786901  0.331977
Metascore             -0.281745  0.786901   1.000000  0.232213
Release                0.247660  0.331977   0.232213  1.000000
Opening Weekend USA   -0.112277  0.521689   0.425888  0.433480
Gross USA             -0.062961  0.609582   0.575244  0.449439
Gross Worldwide       -0.031942  0.565348   0.450119  0.552735

                     Opening Weekend USA  Gross USA  Gross Worldwide
Unnamed: 0                     -0.112277  -0.062961        -0.031942
Rate                            0.521689   0.609582         0.565348
Metascore                       0.425888   0.575244         0.450119
Release                         0.433480   0.449439         0.552735
Opening Weekend USA             1.000000   0.935783         0.933075
Gross USA                       0.935783   1.000000         0.939677
Gross Worldwide                 0.933075   0.939677         1.000000

Melakukan pengecekan missing values

Pada dataset tidak ada data yang hilang atau data yang tidak terbaca yang bisa dilihat dari hasil pengecekan missing values (0,0) untuk seluruh kolom, sehingga tidak dilakukan penanganan seperti menghapus atau amputasi data.

In [10]:
print((df.isna().sum() / len(df)) * 100)

Unnamed: 0             0.0
Original Title         0.0
Company                0.0
Rate                   0.0
Metascore              0.0
Minutes                0.0
Release                0.0
Budget                 0.0
Opening Weekend USA    0.0
Gross USA              0.0
Gross Worldwide        0.0
dtype: float64

Melakukan pengecekan outliers

In [11]:
results = []

cols = df.select_dtypes(include=['float64', 'int64'])

for col in cols:
  q1 = df[col].quantile(0.25)
  q3 = df[col].quantile(0.75)
  iqr = q3 - q1
  lower_bound = q1 - 1.5*iqr
  upper_bound = q3 + 1.5*iqr
  outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
  percent_outliers = (len(outliers)/len(df))*100
  results.append({'Kolom': col, 'Persentase Outliers': percent_outliers})

In [12]:
results_df = pd.DataFrame(results)
results_df.set_index('Kolom', inplace=True)
results_df = results_df.rename_axis(None, axis=0).rename_axis('Kolom', axis=1)

In [13]:
display(results_df)

Kolom                Persentase Outliers
Unnamed: 0                      0.000000
Rate                            5.128205
Metascore                       2.564103
Release                         0.000000
Opening Weekend USA             2.564103
Gross USA                       2.564103
Gross Worldwide                 5.128205

In [14]:
df

,Unnamed: 0,Original Title,Company,Rate,Metascore,Minutes,Release,Budget,Opening Weekend USA,Gross USA,Gross Worldwide
0,1,Iron Man,Marvel,7.9,79,126,2008,140000000,98618668,318604126,585366247
1,2,The Incredible Hulk,Marvel,6.7,61,112,2008,150000000,55414050,134806913,263427551
2,3,Iron Man 2,Marvel,7.0,57,124,2010,200000000,128122480,312433331,623933331
3,4,Thor,Marvel,7.0,57,115,2011,150000000,65723338,181030624,449326618
4,5,Captain America: The First Avenger,Marvel,6.9,66,124,2011,140000000,65058524,176654505,370569774
5,6,The Avengers,Marvel,8.0,69,143,2012,220000000,207438708,623357910,1518812988
6,7,Iron Man Three,Marvel,7.2,62,130,2013,200000000,174144585,409013994,1214811252
7,8,Thor: The Dark World,Marvel,6.9,54,112,2013,170000000,85737841,206362140,644783140
8,9,Captain America: The Winter Soldier,Marvel,7.7,70,136,2014,170000000,95023721,259766572,714421503
9,10,Guardians of the Galaxy,Marvel,8.0,76,121,2014,170000000,94320883,333176600,772776600
10,11,Avengers: Age of Ultron,Marvel,7.3,66,141,2015,250000000,191271109,459005868,1402805868
11,12,Ant-Man,Marvel,7.3,64,117,2015,130000000,57225526,180202163,519311965
12,13,Captain America: Civil War,Marvel,7.8,75,147,2016,250000000,179139142,408084349,1153296293
13,14,Doctor Strange,Marvel,7.5,72,115,2016,165000000,85058311,232641920,677718395
14,15,Guardians of the Galaxy Vol. 2,Marvel,7.6,67,136,2017,200000000,146510104,389813101,863756051
15,16,Spider-Man: Homecoming,Marvel,7.4,73,133,2017,175000000,117027503,334201140,880166924
16,17,Thor:Ragnarok,Marvel,7.9,74,130,2017,180000000,122744989,315058289,853977126
17,18,Black Panther,Marvel,7.3,88,134,2018,200000000,202003951,700059566,1346913161
18,19,Avengers: Infinity War,Marvel,8.5,68,149,2018,321000000,257698183,678815482,2048359754
19,20,Ant-Man and the Wasp,Marvel,7.1,70,118,2018,162000000,75812205,216648740,622674139
20,21,Captain Marve,Marvel,6.9,64,123,2019,175000000,153433423,426829839,1128274794
21,22,Avengers: Endgame,Marvel,8.5,78,181,2019,356000000,357115007,858373000,2797800564
22,23,Spider-Man: Far from Home,Marvel,7.6,69,129,2019,160000000,92579212,390532085,1131927996
23,24,Catwoman,DC,3.3,27,104,2004,100000000,16728411,40202379,82102379
24,25,Batman Begins,DC,8.2,70,140,2005,150000000,48745440,206852432,373413297
25,26,Superman Returns,DC,6.0,72,154,2006,270000000,52535096,200081192,391081192
26,27,The Dark Knight,DC,9.0,84,152,2008,185000000,158411483,535234033,1004934033
27,28,Watchmen,DC,7.6,56,162,2009,130000000,55214334,107509799,185258983
28,29,Jonah Hex,DC,4.7,33,81,2010,47000000,5379365,10547117,10903312
29,30,Green Lantern,DC,5.5,39,114,2011,200000000,53174303,116601172,219851172
30,31,The Dark Knight Rises,DC,8.4,78,164,2012,250000000,160887295,448139099,1081041287
31,32,Man of Steel,DC,7.1,55,143,2013,225000000,116619362,291045518,668045518
32,33,Batman v Superman: Dawn of Justice,DC,6.5,44,151,2016,250000000,166007347,330360194,873634919
33,34,Suicide Squad,DC,6.0,40,123,2016,175000000,133682248,325100054,746846894
34,35,Wonder Woman,DC,7.4,76,141,2017,149000000,103251471,412563408,821847012
35,36,Justice League,DC,6.4,45,120,2017,300000000,93842239,229024295,657924295
36,37,Aquaman,DC,7.0,55,143,2018,160000000,67873522,335061807,1148161807
37,38,Shazam!,DC,7.1,71,132,2019,100000000,53505326,140371656,364571656
38,39,Joker,DC,8.7,59,122,2019,55000000,96202337,333204580,1060504580

Melakukan pengecekan duplicated values

Pada dataset tidak terdapat data yang sama muncul beberapa kali, sehingga tidak ada penghapusan atau penanganan untuk duplicated values.

In [15]:
df[df.duplicated()]

Empty DataFrame
Columns: [Unnamed: 0, Original Title, Company, Rate, Metascore, Minutes, Release, Budget, Opening Weekend USA, Gross USA, Gross Worldwide]
Index: []

Melakukan pengecekan inconsistent values

Pada dataset tidak terdapat nilai-nilai yan tidak sesuai format atau memiliki tipe data yang berbeda sehingga tidak ada dilakukan penanganan pada dataset.

In [16]:
df

,Unnamed: 0,Original Title,Company,Rate,Metascore,Minutes,Release,Budget,Opening Weekend USA,Gross USA,Gross Worldwide
0,1,Iron Man,Marvel,7.9,79,126,2008,140000000,98618668,318604126,585366247
1,2,The Incredible Hulk,Marvel,6.7,61,112,2008,150000000,55414050,134806913,263427551
2,3,Iron Man 2,Marvel,7.0,57,124,2010,200000000,128122480,312433331,623933331
3,4,Thor,Marvel,7.0,57,115,2011,150000000,65723338,181030624,449326618
4,5,Captain America: The First Avenger,Marvel,6.9,66,124,2011,140000000,65058524,176654505,370569774
5,6,The Avengers,Marvel,8.0,69,143,2012,220000000,207438708,623357910,1518812988
6,7,Iron Man Three,Marvel,7.2,62,130,2013,200000000,174144585,409013994,1214811252
7,8,Thor: The Dark World,Marvel,6.9,54,112,2013,170000000,85737841,206362140,644783140
8,9,Captain America: The Winter Soldier,Marvel,7.7,70,136,2014,170000000,95023721,259766572,714421503
9,10,Guardians of the Galaxy,Marvel,8.0,76,121,2014,170000000,94320883,333176600,772776600
10,11,Avengers: Age of Ultron,Marvel,7.3,66,141,2015,250000000,191271109,459005868,1402805868
11,12,Ant-Man,Marvel,7.3,64,117,2015,130000000,57225526,180202163,519311965
12,13,Captain America: Civil War,Marvel,7.8,75,147,2016,250000000,179139142,408084349,1153296293
13,14,Doctor Strange,Marvel,7.5,72,115,2016,165000000,85058311,232641920,677718395
14,15,Guardians of the Galaxy Vol. 2,Marvel,7.6,67,136,2017,200000000,146510104,389813101,863756051
15,16,Spider-Man: Homecoming,Marvel,7.4,73,133,2017,175000000,117027503,334201140,880166924
16,17,Thor:Ragnarok,Marvel,7.9,74,130,2017,180000000,122744989,315058289,853977126
17,18,Black Panther,Marvel,7.3,88,134,2018,200000000,202003951,700059566,1346913161
18,19,Avengers: Infinity War,Marvel,8.5,68,149,2018,321000000,257698183,678815482,2048359754
19,20,Ant-Man and the Wasp,Marvel,7.1,70,118,2018,162000000,75812205,216648740,622674139
20,21,Captain Marve,Marvel,6.9,64,123,2019,175000000,153433423,426829839,1128274794
21,22,Avengers: Endgame,Marvel,8.5,78,181,2019,356000000,357115007,858373000,2797800564
22,23,Spider-Man: Far from Home,Marvel,7.6,69,129,2019,160000000,92579212,390532085,1131927996
23,24,Catwoman,DC,3.3,27,104,2004,100000000,16728411,40202379,82102379
24,25,Batman Begins,DC,8.2,70,140,2005,150000000,48745440,206852432,373413297
25,26,Superman Returns,DC,6.0,72,154,2006,270000000,52535096,200081192,391081192
26,27,The Dark Knight,DC,9.0,84,152,2008,185000000,158411483,535234033,1004934033
27,28,Watchmen,DC,7.6,56,162,2009,130000000,55214334,107509799,185258983
28,29,Jonah Hex,DC,4.7,33,81,2010,47000000,5379365,10547117,10903312
29,30,Green Lantern,DC,5.5,39,114,2011,200000000,53174303,116601172,219851172
30,31,The Dark Knight Rises,DC,8.4,78,164,2012,250000000,160887295,448139099,1081041287
31,32,Man of Steel,DC,7.1,55,143,2013,225000000,116619362,291045518,668045518
32,33,Batman v Superman: Dawn of Justice,DC,6.5,44,151,2016,250000000,166007347,330360194,873634919
33,34,Suicide Squad,DC,6.0,40,123,2016,175000000,133682248,325100054,746846894
34,35,Wonder Woman,DC,7.4,76,141,2017,149000000,103251471,412563408,821847012
35,36,Justice League,DC,6.4,45,120,2017,300000000,93842239,229024295,657924295
36,37,Aquaman,DC,7.0,55,143,2018,160000000,67873522,335061807,1148161807
37,38,Shazam!,DC,7.1,71,132,2019,100000000,53505326,140371656,364571656
38,39,Joker,DC,8.7,59,122,2019,55000000,96202337,333204580,1060504580

Melakukan data reduction

In [17]:
df

,Unnamed: 0,Original Title,Company,Rate,Metascore,Minutes,Release,Budget,Opening Weekend USA,Gross USA,Gross Worldwide
0,1,Iron Man,Marvel,7.9,79,126,2008,140000000,98618668,318604126,585366247
1,2,The Incredible Hulk,Marvel,6.7,61,112,2008,150000000,55414050,134806913,263427551
2,3,Iron Man 2,Marvel,7.0,57,124,2010,200000000,128122480,312433331,623933331
3,4,Thor,Marvel,7.0,57,115,2011,150000000,65723338,181030624,449326618
4,5,Captain America: The First Avenger,Marvel,6.9,66,124,2011,140000000,65058524,176654505,370569774
5,6,The Avengers,Marvel,8.0,69,143,2012,220000000,207438708,623357910,1518812988
6,7,Iron Man Three,Marvel,7.2,62,130,2013,200000000,174144585,409013994,1214811252
7,8,Thor: The Dark World,Marvel,6.9,54,112,2013,170000000,85737841,206362140,644783140
8,9,Captain America: The Winter Soldier,Marvel,7.7,70,136,2014,170000000,95023721,259766572,714421503
9,10,Guardians of the Galaxy,Marvel,8.0,76,121,2014,170000000,94320883,333176600,772776600
10,11,Avengers: Age of Ultron,Marvel,7.3,66,141,2015,250000000,191271109,459005868,1402805868
11,12,Ant-Man,Marvel,7.3,64,117,2015,130000000,57225526,180202163,519311965
12,13,Captain America: Civil War,Marvel,7.8,75,147,2016,250000000,179139142,408084349,1153296293
13,14,Doctor Strange,Marvel,7.5,72,115,2016,165000000,85058311,232641920,677718395
14,15,Guardians of the Galaxy Vol. 2,Marvel,7.6,67,136,2017,200000000,146510104,389813101,863756051
15,16,Spider-Man: Homecoming,Marvel,7.4,73,133,2017,175000000,117027503,334201140,880166924
16,17,Thor:Ragnarok,Marvel,7.9,74,130,2017,180000000,122744989,315058289,853977126
17,18,Black Panther,Marvel,7.3,88,134,2018,200000000,202003951,700059566,1346913161
18,19,Avengers: Infinity War,Marvel,8.5,68,149,2018,321000000,257698183,678815482,2048359754
19,20,Ant-Man and the Wasp,Marvel,7.1,70,118,2018,162000000,75812205,216648740,622674139
20,21,Captain Marve,Marvel,6.9,64,123,2019,175000000,153433423,426829839,1128274794
21,22,Avengers: Endgame,Marvel,8.5,78,181,2019,356000000,357115007,858373000,2797800564
22,23,Spider-Man: Far from Home,Marvel,7.6,69,129,2019,160000000,92579212,390532085,1131927996
23,24,Catwoman,DC,3.3,27,104,2004,100000000,16728411,40202379,82102379
24,25,Batman Begins,DC,8.2,70,140,2005,150000000,48745440,206852432,373413297
25,26,Superman Returns,DC,6.0,72,154,2006,270000000,52535096,200081192,391081192
26,27,The Dark Knight,DC,9.0,84,152,2008,185000000,158411483,535234033,1004934033
27,28,Watchmen,DC,7.6,56,162,2009,130000000,55214334,107509799,185258983
28,29,Jonah Hex,DC,4.7,33,81,2010,47000000,5379365,10547117,10903312
29,30,Green Lantern,DC,5.5,39,114,2011,200000000,53174303,116601172,219851172
30,31,The Dark Knight Rises,DC,8.4,78,164,2012,250000000,160887295,448139099,1081041287
31,32,Man of Steel,DC,7.1,55,143,2013,225000000,116619362,291045518,668045518
32,33,Batman v Superman: Dawn of Justice,DC,6.5,44,151,2016,250000000,166007347,330360194,873634919
33,34,Suicide Squad,DC,6.0,40,123,2016,175000000,133682248,325100054,746846894
34,35,Wonder Woman,DC,7.4,76,141,2017,149000000,103251471,412563408,821847012
35,36,Justice League,DC,6.4,45,120,2017,300000000,93842239,229024295,657924295
36,37,Aquaman,DC,7.0,55,143,2018,160000000,67873522,335061807,1148161807
37,38,Shazam!,DC,7.1,71,132,2019,100000000,53505326,140371656,364571656
38,39,Joker,DC,8.7,59,122,2019,55000000,96202337,333204580,1060504580

Construct data

Dataset sudah memiliki informasi yang cukup untuk analisis, seperti tanggal, jumlah kunjungan unik, pengunjung baru, dan pengunjung kembali. Tidak ada kebutuhan untuk menambahkan kolom baru karena semua informasi yang diperlukan sudah tersedia.